# Build and Tool Artifacts
db/
incremental_db/
hc_output/
*.log
transcript
*.wlf

# External and Documentation
*.pdf
verification/
Processor resources/
*.txt

# Project Config (Ignore local overrides, keep the templates in tooling/config)
*.qpf
*.qsf
*.sdc
*.qdf 
*.jdi
*.eqn 
*.pin 
*.sof 
*.pof
smart.log 
*.rpt 
*.htm 
*.summary 
*.smsg 
*.echo 
*.chg